.iconBg:hover {
    color: rgb(180, 61, 61);
    transition: 0.6s;
}

.tech-title h1{
    color: rgb(180, 61, 61);
    font-size: 55px;
    font-weight: 700;
}

@media screen and (max-width: 960px) {
    .tech{
        text-align: center;
    }
}