.about-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.about--text h1 {
    color: rgb(180, 61, 61);
    font-weight: 500;
}

@media screen and (max-width: 960px) {
    .about--text {
        width: 100% !important;
        text-align: center;

    }

    .about--text h1 {
        font-size: 28px;

    }

}