.hero {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: column;
        flex-direction: column;
}

Button:hover {
        background-color: rgb(180, 61, 61) !important;
        border-color: #000000 !important;
}

.hero-title h1 {
        color: rgb(180, 61, 61);
        font-weight: 500;
        font-size: 36px;
}

@media screen and (max-width: 960px) {
        .logo img {
                width: 30% !important;
        }

        .about-text {
                text-align: center;
        }

        .about-img {
                display: none;
        }
}